In [1]:
import pandas as pd

s1 = pd.read_csv('submission.csv')

In [2]:
s2 = pd.read_csv('submission_pca (1).csv')

In [3]:
n1 = s1 * 0.8 + s2 * 0.2

In [5]:
s1

         id         price
0     15035  5.299667e+05
1     15036  4.307262e+05
2     15037  1.361677e+06
3     15038  3.338036e+05
4     15039  3.089006e+05
...     ...           ...
6463  21498  2.478657e+05
6464  21499  4.156358e+05
6465  21500  4.520817e+05
6466  21501  3.415730e+05
6467  21502  4.217251e+05

[6468 rows x 2 columns]

In [9]:
n1['id'] = n1['id'].astype('int')

In [10]:
n1.to_csv('submission_new.csv', index=False)